<html lang="en">
<head>
   
    {% block head%}
    {% endblock%}
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class=" container-fluid">

        <a href="/">Home</a>
        <a href="/signin">Sign in</a>
        <a href="/signup">Sign up</a>
        <a href="/blog">Blog</a>
    </div>
    <hr>
    <br>
    <div class="container">
    {% block body%}
    {% endblock%}
</div>
    
</body>
</html>
