{% extends 'base.html' %}

{% block head%}
<title>Signin</title>
{% endblock%}

{% block body%}
    <h1>Signin Page</h1>
<form action="/signin" method="post">

    <label for="email"><b>Email</b></label><br>
    <input type="text" placeholder="Enter Email" name="email" required><br><br>

    <label for="psw"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="psw" required><br><br>

    <div class="clearfix">

        <button type="submit" class="signupbtn">Sign In</button>
      </div>


</form>
{% endblock%}