{% extends 'base.html' %}
{%block title%}Nutritional Content{%endblock%}
{%block header%}
    <style>
        table{
            margin-top:100px;
        }
        table,tr,td{
            border-collapse: collapse;
            padding:2px;
 
            border:1px solid #fa4670;
        }
          
        h2{
            color: rgba(224, 49, 91,0.79);
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            padding: 0.5em 0.3em;
        }
        p{
            color: rgb(194, 118, 206);
            padding:0.5rem;
            font-family: sans-serif;
            font-size: 1.3em;
            font-weight: bold;
        }
    </style>
     <script>
        var a,b,c,d,e;
function generateRandom(min, max) {
let difference = max - min; 
let rand = Math.random();
rand = Math.floor( rand * difference);
rand = rand + min;
return rand;
}
a=document.getElementById("demo").innerHTML= generateRandom(30,80)+"g";
b=document.getElementById("demo1").innerHTML= generateRandom(60,100)+"g";
c=document.getElementById("demo2").innerHTML= generateRandom(40,100)+"g";
d=document.getElementById("demo3").innerHTML= generateRandom(13,40)+"g";
e=document.getElementById("demo4").innerHTML=generateRandom(250,1000)+"Kcal";
        </script>
        {%endblock%}
 {%block content%} 
    <div class="nut-val">
    <table >
        <tr>
            <td><h2>Fat</h2></td>
            <td><p id="demo"></p></td>
        </tr>
        <tr>
            <td><h2>Carbohydrates</h2></td>
            <td><p id="demo1"></p></td>
        </tr>
        <tr>
            <td><h2>Vitamins</h2></td>
            <td><p id="demo2"></p></td>
        </tr>
        <tr>
            <td><h2>Proteins</h2></td>
            <td><p id="demo3"></p></td>
        </tr>
        <tr>
            <td><h2>Calories</h2></td>
            <td><p id="demo4"></p></td>
        </tr>
    </table>
</div>
   
</body>
</html>


{%endblock%}