{% extends 'base.html' %}

{% block title %}Upload Images{% endblock %}
{%block header%}

<style>
  /* body{
    background-image: url(background.jpg);
  } */
 
  input[type=file]::file-selector-button {
  border: 1.5px solid #4a8686;
  padding: .3em .5em;
  border-radius: 5px;
  background-color: #e2eaea;
  font-size: .9em;
  font-weight: bold;
  color: #070708;
  transition: 1s;
}

input[type=file]::file-selector-button:hover {
  background-color: #8d87e2;
  border: 1.5px solid #685adf;
  color: azure;
}
input[type=text]{
  border: 2px solid #a2aaae;
  width: 115px;
  border-radius: 5px;
  outline: none;
  font-size: .8em;
  color: #be90bf;
  font-weight: bold;
  padding: .2em .4em;
  
   
}
input[type=text]:hover{
  border: 2px solid #2fc4c4 ;
  color:#167ba3;
}

input[type=submit]{
  border: none;
  color: rgb(4, 3, 3);
  font-weight:bold;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: .5em 1.4em .4em ;
  border-radius: 5px;
  background-color: #a288ff;
  transition: 1s;
}

input[type=submit]:hover{
  background-color: #1a1aeb;
}
.part{
  padding: 50px;
  margin-top: 50px;   
  float: left;
}

    </style>

{%endblock%}


<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
{% block content %}       
<center><br><br> 
    <h2 style="position:absolute;left: 500px;top: 50px;"> READY TO KNOW CALORIE INTAKES?</h2>
    <div class="part">
        <img src="/static/images/ill2jpg.jpg" alt="">
    </div>
 <div style="box-shadow: rgba(34, 8, 131, 0.32) 0px 2px 4px 0px, rgba(34, 8, 128, 0.32) 0px 2px 16px 0px;width: 550px;padding: 15px 20px 20px 20px;border-radius: 20px;float: right;margin-right:100px; margin-top:100px;"> 
 <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0);"><i class="fa fa-upload" style="font-size:30px;margin-left: -5px;color:rgb(46, 46, 65);"></i> Upload images!!</h2>
</div>
<div class="container">
<div class="row">
    <h2>Select a file to upload</h2>
     {% if filename %}
        <div>
            <img src="{{ filename }}" style="width: 300px; height:300px">
        </div>
    {% endif %}
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
   
    <form class="upload" method="post" action="upload" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required style="margin-left: 50px;color: #252e32;font-weight: bold;font-size: .82em;">
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
    <button type="submit" class="d-flex justify-content-center p-2 m-1 border border rounded-2"><a href="/nutrition"> Get My Nutritional Content</a>
     </button>
</center>
</div>
</div>

{% endblock %}
